/* Colors */
:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --greybg: hsl(0, 0%, 96%);
  --grayText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
}

.popular {
  padding-top: 15rem;
  padding-bottom: 5px;

  .secContainer {
    .secHeader {
      flex-direction: column;
      margin-left: 40px;
      align-items: flex-start;
      gap: 1rem;

      .textDiv {
        .secTitle {
          color: var(--BlackColor);
          line-height: 1.5rem;
          padding-bottom: 0.5rem;
        }

        p {
          font-size: 13px;
          color: var(--TextColor);
          font-weight: 500;
        }
      }

      .iconsDiv {
        gap: 0.5rem;

        .icon {
          padding: 0.5rem;
          background: var(--grayText);
          border-radius: 50%;
          font-size: 2.5rem;

          &:hover {
            background: var(--BlackColor);
            color: var(--WhiteColor);
          }
        }

        .leftIcon {
          background: var(--BlackColor);
          color: var(--WhiteColor);

          &:hover {
            background: var(--greybg);
            color: var(--BlackColor);
          }
        }
      }
    }

    .mainContent_p {
      padding: 2rem;
      gap: 1rem;
      position: relative;
      overflow: visible;
      padding-bottom: 5rem;

      .singleDestination {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
        z-index: 1;

        &:hover {
          z-index: 10;
        }

        .destImage {
          height: 200px;
          width: 100%;
          position: relative;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

    .overlayInfo {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0;
            padding: 0 1.5rem;
            background: linear-gradient(rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.759));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            transition: all .3s ease;

            h3, p {
              color: var(--WhiteColor);
              opacity: 0;
              transform: translateY(20px);
              transition: opacity 0.3s ease, transform 0.3s ease;
            }

            .icon {
              position: absolute;
              right: 10px;
              bottom: 10px;
              padding: 0.5rem;
              background: var(--PrimaryColor);
              font-size: 2.5rem;
              border-radius: 50%;
              color: var(--WhiteColor);
              border: 1px solid transparent;
              transition: 0.3s ease;

              &:hover {
                background: var(--BlackColor);
                border: 1px solid var(--PrimaryColor);
                color: var(--PrimaryColor);
              }
            }
          }
        }

        .destFooter {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          

          .number {
            font-size: 2.3rem;
            font-weight: 700;
            color: var(--BlackColor);
            display: inline-block;
            align-items: center;
            gap: 1rem;
            margin-bottom: 7px;

            &::after {
              content: '';
              display: inline-block;
              margin-left: 13px;
              margin-bottom: 10px;
              width: 60px;
              height: 4px;
              background-color: var(--PrimaryColor);
              border-radius: 2px;
            }
          }

          .destText {
          
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h6 {
              display: inline-block;
              font-size: 16px;
              font-weight: 700;
              color: var(--BlackColor);
              text-transform: uppercase;
              letter-spacing: 1px;
              margin: 0;
              white-space: nowrap;
            }

            .flex {
              display: flex;
              align-items: center;
              gap: 0.3rem;
              font-size: 17px;
              font-weight: 600;
              color: var(--BlackColor);
              

              .icon {
                font-size: 2.5rem;
                margin: 0;
                padding-top: 12px;
                color: var(--PrimaryColor);
              }
            }
          }
        }

        &:hover {
          .overlayInfo {
            height: 100%;
            padding: 1.5rem;

            h3, p {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

// MEDIA QUERIES ============>
@media screen and (min-width: 480px) {
   .popular{
    padding-top: 10rem;
    margin-top: .3rem;
   }
}

@media screen and (min-width: 556px) {
   .popular{
     .secContainer{
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .textDiv{
        text-align: start;
        max-width: 70%;
      }

      .iconsDiv{
        justify-content: flex-end;
      }
     }
   }
}

@media screen and (min-width: 1024px) {
  .popular{
    padding-top: 8rem;
  }

  .secContainer{
   .secHeader{
    .textDiv{
      .secTitle{
        font-size: 2rem;
      }
      p{
        font-size: 14px;
      }
    }
   }

   .mainContent_p{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem !important;
   }
  }
}