@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition: .3s ease;
}

/* Colors */
:root{
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --TextColor: hsl(240, 1%, 48%);
    --WhiteColorDeam: hsl(0, 0%, 93%);
    --greybg: hsl(0, 0%, 96%);
    --grayText: rgb(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);
    /* box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45); */
}

/* Default Styling */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn{
    padding: .4rem 1.5rem;
    background: var(--PrimaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}

.btn a{
    color: var(--WhiteColor);
    font-weight: 500;
}

.btn:hover a{
    color: var(--WhiteColor);
}

.secIntro{
    max-width: 70%;
    text-align: center;
    margin: 0 auto 2rem;
}

.secIntro .secTitle{
    color: var(--BlackColor);
    line-height: 1.5 rem;
    padding-bottom: .5rem;
}

.secIntro p{
    font-size: 13px;
    color: var(--TextColor);
    font-weight: 500;
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
}


/* This is all for the default styling......... */

/* MEDIA QUERIES */
@media screen and (min-width: 556px) {
    .mainContent .singlePost{
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media screen and (min-width: 884px) {
    .mainContent{
        grid-template-columns: repeat(3,1fr);
        
    }
}

@media screen and (min-width: 1400px) {
    .container{
        width: 75% !important;
        margin: auto !important;
    }
}

/* 2:05 */